.hide-scrollbar *:not(textarea)::-webkit-scrollbar {
    width: 0; /* 滚动条宽度为0 */
    height: 0; /* 滚动条高度为0 */
    display: none; /* 滚动条隐藏 */
}
.hide-scrollbar::-webkit-scrollbar {
    width: 0; /* 滚动条宽度为0 */
    height: 0; /* 滚动条高度为0 */
    display: none; /* 滚动条隐藏 */
}