body {
    min-width: 1200px;
}

button {
    padding: 3px 10px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    border: 1px solid #eeeeee;
    white-space: pre;
}

td textarea {
    width: 98%;
    border-width: 0;
}

.MainDivs {
    overflow: hidden;
    position: relative;
}

.error, .changedCell {
    color: red;
}

.searchKey {
    width: 200px;
}

.searchResult {
    max-width: 500px;
    display: inline-block;
    white-space: nowrap;
    overflow: auto;
}

.searchResult span {
    border: 1px solid #ccc;
    cursor: pointer;
    margin-right: 10px;
}

#tidtcodeSpan span {
    margin-right: 10px;
}

#rightSpan {
    position: absolute;
    right: 10px;
}

.searchResult .active {
    background-color: #ccc;
    font-weight: bold;
}

.CodeMirror {
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
}

.tables span {
    float: left;
    width: 20%;
    text-decoration: underline;
    color: blue;
    padding: 0 5px;
    cursor: pointer;
    user-select: none;
}

input.batchSize {
    width: 22px;
}

#tablesWithSpecifiedColumn span {
    float: left;
    width: 15%;
    padding: 0 5px;
}

#tablesWithSpecifiedColumn {
    margin-top: 10px;
}

#tablesWithSpecifiedColumn div {
    margin-bottom: 5px;
}

#linksConfigButtonsDiv {
    margin-top: 10px;
}

#CloseConfig, #tidtcodeSpan {
    position: absolute;
    right: 10px;
}

span.clickable {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    user-select: none;
}

.result {
    clear: both;
    padding-top: 1px;
}

div.executionResult {
    margin-top: -18px;
    overflow: auto;
}

#editorDiv {
    margin-bottom: 18px;
}

thead {
    background-color: aliceblue;
}

.aliceblue {
    background-color: aliceblue;
}

table.executionSummary tr:first-child {
    background-color: skyblue;
}

.tablesWrapper {
    width: 100%;
    max-height: 155px;
    overflow: auto;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
}

.opsSpan {
    cursor: pointer;
    text-decoration: underline;
    margin-left: 10px;
    margin-right: 10px;
    display: table-cell;
    white-space: nowrap;
}

.tableTools {
    cursor: pointer;
    margin-left: 10px;
    text-decoration: underline;
}

.chk {
    display: none;
}

.highlight {
    background-color: rgba(20, 255, 20, .5);
}

.hide {
    display: none;
}

.rowspanned {
    display: none;
}

.underline {
    text-decoration: underline;
}

.loginAvatar {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.loginName {
    font-size: 12px;
}

.copyRow {
    margin-left: 10px;
}

.searchTable {
    width: 300px;
}

.clonedRow {
    background-color: gold !important;
}

.rowOdd {
    background-color: #eeeeee;
}

.deletedRow {
    text-decoration: line-through;
}

.resizeHandle {
    background: #f7f7f7;
    height: 20px;
    user-select: none;
    cursor: row-resize;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
}

.resizeHandle:before {
    content: '\2261'; /* https://en.wikipedia.org/wiki/Triple_bar */
    color: #999;
    position: absolute;
    left: 50%;
}

.resizeHandle:hover {
    background: #f0f0f0;
}

.resizeHandle:hover:before {
    color: #000;
}

.opsDiv {
    display: none;
}

.collapseDiv {
    max-height: 300px;
}

.sqlTd {
    display: table-cell;
    max-width: 800px;
    /* white-space: pre; */
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}

.sqlTd:focus {
    white-space: pre-wrap;
    overflow: auto;
}

#linksConfigDiv {
    display: none;
    overflow: auto;
}

#fastEntriesDiv {
    margin: 10px 0 18px 10px;
    display: none;
    text-align: right;
}

.separator {
    padding: 0 10px;
    color: lightgray;
}

.operateAreaDiv {
    /*text-align: right;*/
    display: table;
}

.highlightCell {
    background: yellow;
}

#linksConfigDiv .CodeMirror {
    height: auto;
    min-height: 100px;
    max-height: 600px;
}

#linksConfigDiv .CodeMirror-scroll {
    height: auto;
    min-height: 100px;
    max-height: 600px;
}

#sqlwebDiv .CodeMirror {
    height: auto;
    min-height: 50px;
    max-height: 500px;
}

#sqlwebDiv .CodeMirror-scroll {
    height: auto;
    min-height: 50px;
    max-height: 500px;
}

#sqlwebDiv .CodeMirror pre.CodeMirror-placeholder {
    color: #999;
}

#rightBottomFloatingDiv {
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: blue;
    background: yellow;
}

#tipsDivWrap {
    position: fixed;
    background: yellow;
    display: none;
    right: 10px;
    bottom: 30px;
    text-align: center;
}

#tipsDivClose {
    cursor: pointer;
    text-decoration: underline;
    color: crimson;
}

/* copy from https://html2canvas.hertzen.com/*/
#screenShot {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999998;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#closeScreenShot {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

#screenShot canvas {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 95%;
    max-height: 95%;
}

div.jconfirm-content {
    white-space: pre-wrap;
}

.jconfirm-box {
    width: 50%;
}