button {
    padding: 3px 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    border: 1px solid #eeeeee;
    white-space: nowrap;
}

.error, .changedCell {
    color: red;
}

.searchKey {
    width: 150px;
}

.searchResult span {
    border: 1px solid #ccc;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
}

.searchResult .active {
    background-color: #ccc;
    font-weight: bold;
}

.CodeMirror {
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
}

.tables span {
    float: left;
    width: 20%;
    text-decoration: underline;
    color: blue;
    padding: 0 5px;
    cursor: pointer;
    user-select: none;
}

.result {
    clear: both;
    padding-top: 10px;
}

table tr:first-child {
    background-color: aliceblue;
}

table.executionSummary tr:first-child {
    background-color: skyblue;
}

.tablesWrapper {
    width: 100%;
    max-height: 155px;
    overflow: auto;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
}

.opsSpan {
    cursor: pointer;
    text-decoration: underline;
    margin-right: 10px;
}

.divTranspose {
    display: none;
}

.chk {
    display: none;
}

.loginAvatar {
    width: 16px;
    height: 16px;
}

.loginName {
    font-size: 12px;
}

.copyRow {
    margin-left: 30px;
}

.searchTable {
    width: 300px;
}

.clonedRow {
    background-color: gold !important;
}

.rowEven {
    background-color: #eeeeee;
}

.nullCell {
    background-color: lightyellow;
}

.deletedRow {
    text-decoration: line-through;
}

.resizeHandle {
    background: #f7f7f7;
    height: 20px;
    user-select: none;
    cursor: row-resize;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
}

.resizeHandle:before {
    content: '\2261'; /* https://en.wikipedia.org/wiki/Triple_bar */
    color: #999;
    position: absolute;
    left: 50%;
}

.resizeHandle:hover {
    background: #f0f0f0;
}

.resizeHandle:hover:before {
    color: #000;
}

.opsDiv {
    display: none;
}

.collapseDiv {
    max-height: 300px;
    overflow: auto;
}

.sqlTd {
    max-width: 600px;
    white-space: normal!important;
}